.title {
    font-size: 30px;
    font-style: italic;
    font-weight: 300;

    text-align: center;
}

.textBlock{
    text-align: center;
}

#text {
    height: 500px;
    max-width: 80%;
    min-width: 80%;
    margin: 15px 20px;

    font-size: 20px;
}
    

.buttons{
    text-align: center;
}

button{
    width: 15%;
    height: 40px;
    color: #fff;
    background: #501;
    margin: 15px 10px;

    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}